<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href ="/assets/style.css">
  <head>
     <title>home</title>
 </head>
<body>
     <h1> Home</h1>
	 <h1 style="color:#CD853F;"> home page </h1>
<h3>Beauty is in your eyes</h3>
<img src="girl1.jpg" alt="">
	 
	 
</body>
</html>